<div class="hero-unit">
       <h1>I Wish ___ Exists</h1>
       <p>helps you find what have already been done</p>
       <%= form_for(@wish) do |f| %>
       <h3>I wish
       		<%= f.text_field :name %> 
       		exists 
       		<%= f.submit "Find out!", :class => "btn btn-large btn-primary"  %>
       </h3>
       <% end %>
     </div>
</div>