
<table class="doc-loader">
    <tr>
        <td>
            <%= image_tag("loading.gif", :alt => "loading...")%>
        </td>
    </tr>
</table> 

<div class="body_wrapper">
      <div class="sprite"></div>
      <div id="header">
            <br/>            
      </div>
      <div class="wrapper">
            <div class="hero-unit splash"> 
            </p>
            <%= form_for(@wish) do |f| %>
            <h1 class="textbox">
            I wish
                        <%= f.text_field :name, :class => "input_box", :placeholder => 'helmet cams for snowboarding' %>
                        exists
                        <%= f.submit "Submit", :class => "btn btn-large btn-primary"  %>
            </h1>
                  <div class="center">...submit a wish, so someone, somewhere can build it.</div>
            <% end %>
      </div>
            <div class="clear-left"></div>
            <div class="clear"></div>
            <div class="wrapper-mid-content m-top-110">
                  <div class="clear"></div>  
                  <!--<div class="subheader">   -->
                         <!--<div class="subheader">-->
                              <!--<h3 class="credit">Built at AngelHackTO</h3><br/>-->
                        <!--</div> -->
                  <!--</div>-->
            </div>
      </div>
</div>
