<div class="hero-unit hidden-phone">
       <h1>Iwishitexists</h1>
       <p>Helps you find what startup ideas have already been done</p>
       <h3>I wish <input type="text" class="input-large">  exists<a class="btn" href="#"><span class="btn-label">Send</span></a></h3>
     </div>
     <p><a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a></p>
</div>