<!DOCTYPE html>
<html>
<head>
  <title>Iwishblankexists</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <script src="https://app.divshot.com/js/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Iwishitexist</a>
          <div class="navbar-content">
<!--             <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="#">About</a> 
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
   	 <%= yield %>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
 </body>
</html>



